
.loadingBar::before {
  content: "";
  height: 1em;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ca6868;
  animation: loadBar 1.4s;
  border-radius: 1em;
}

@keyframes loadBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
