html,
body {
  font-family: 'Righteous', cursive;
  background-color: #202020;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logoHolder {
  height: 100vh;
  width: 50vw;
  position: relative;
}

.i {
  color: #ca6868;
}

p {
  font-size: 30em;
}
